* {
    margin:0;
    padding:0;
}
main {
    width: 955px;
    height: 600px;
    border: 1px solid black;
    margin: 0 auto;
}
h1 {
    margin-top: 20px;
    color: #31414E;
    margin-left: 20px;
}
h3 {
    margin-top: 10px;
    text-align: center;
    color: #31414E;
}
article {
    margin-top: 20px;
    margin-left: 20px;
    width: 200px;
    height: 230px;
    border: 1px solid #E5EBE9;
    border-radius: 5px;
    float: left;
}
label {
    display: block;
    text-align: center;
}
aside {
    margin-top: 13px;
}
p {
    width: 150px;
    color: #31414E;
    margin-left: 20px;
}
img {
    margin-top: 10px;
    margin-left: 20px;
}
#select_article {
    border: 1px solid #EC1018;
}
#section-laptop {
    width: 700px;
    float:left;
}
#section-range {
    float: left;
    width: 250px;
    background: #F7FCFF;
}
.new_icon_1 {
    position: absolute;
    top: 145px;
    margin-right: 230px;
}
.new_icon_2 {
    position: absolute;
    top: 400px;
    margin-right: 230px;
}
.range-div-left {
    float: left;
    margin-left: 5px;
}
.range-div-right {
    float: right;
    margin-right: 5px;
}
.price {
    background: #2C425A;
    width: 80px;
    height: 30px;
    border-top-left-radius: 10px;
    color: #FFF;
    float: right;
    padding: 10px;
    font-size: 20px;
    margin-top: 12px;
}
input[type="range"] {
    width: 240px;
    margin-left: 5px;
    margin-top: 10px;
}